.about-page .row {
  width: 90% !important;
  margin: 50px auto;
}

.about-page .row {
  height: 500px !important;
}
.count {
  margin-top: -30px;
}
.sign-up {
  margin-top: 50px;
}
.sign-up li {
  display: inline-block;
  padding: 15px;
}
