.about-page .row {
}
.count {
  margin-top: -30px;
}
.sign-up {
  margin-top: 50px;
}
.sign-up li {
  display: inline-block;
  padding: 15px;
}
.align-items-center {
  align-items: none !important;
}

.about-page .col-6 {
  padding-right: 0px;
}
.about-us {
}
