.slider-container {
  display: flex;
  width: 90%;
  margin: 0 auto;
}
.slider-viewport {
  white-space: nowrap;
  overflow-y: hidden;
  overscroll-behavior-x: auto;
  -webkit-overflow-scrolling: touch;
  flex-grow: 2;
}
.slider-viewport::-webkit-scrollbar {
  display: none;
}
.slide {
  display: inline-block;
  vertical-align: top;
  height: 150px;
  width: 300px;
}

.slider-nav {
  width: 35px;
  border: none;
  flex-shrink: 0;
  outline: none !important;
  background: none !important;
}
.slider-nav:focus {
  box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, 0.2) !important;
  border: none;
  outline: none;
}
.slider-nav:hover {
  background: none;
}
