.contact-container {
  width: 100%;
}
.contact-container .headline {
  font-size: 50px;
}

.contact-container h4 {
  padding: 25px;
}
.contact-form {
  width: 75%;
  margin: 50px auto;
  padding: 25px;
}
.container-contact-info {
  width: 90%;
}
.number img {
  padding-left: 10px;
}
