.contact-container {
  width: 90%;
  margin: 150px auto;
}
.contact-container .headline {
  font-size: 50px;
}

.contact-container h4 {
  padding-top: 25px;
}
.contact-form {
  height: 30vh;
  margin: 70px 350px;
}
.container-contact-info {
  width: 90%;
  padding-top: 55px;
}
.number img {
  padding-left: 10px;
}
