.headerNav {
  color: orange !important;
}
.collapse {
  float: right;
  max-width: 700px;
  font-size: 21px;
  z-index: 9999 !important;
}
nav {
  height: 80px;
  background: transparent !important;
  width: 100%;
  transition: all ease 1s;
  position: fixed !important;
  z-index: 9999 !important;

  font-weight: bold;
}
nav li:hover {
  color: orange !important;
}
nav.black {
  background: #1c2b5a !important;
  color: orange !important;
  transition: all ease 1s;
}
nav.black ul li a:hover {
  color: orange !important;
}
nav.black a {
  color: rebeccapurple;
}
.logo {
  margin-top: 15px;
  margin-left: 50px;
  width: 150px;
}
@media only screen and (max-width: 800px) {
  nav {
    background: rgb(253, 180, 44) !important;
  }
  nav.black {
    transition: none;
  }
  .collapse {
    background: rgb(253, 180, 44) !important;
    margin-left: -16px;
    min-width: 110%;
  }
  .collapse .nav-item {
    padding-left: 20px;
  }
  .logo {
    width: 100px;

    margin-top: -35px;
  }
}
.nav-item {
  padding: 15px;
}
