.sports ul li img {
  width: 300px;
  height: 300px;
}
.sports {
  width: 90%;
  margin: 0 auto;
}
.sports ul li {
  display: inline-block;
  padding-left: 15px;
}
.sports ul {
  width: 92%;
  margin: 0 auto;
}
.container1 {
  position: relative;
}
.overlay1 {
  position: absolute;
  bottom: 0;
  left: 50;
  top: 0px;
  right: 0px;
  height: 0;
  transition: 0.8s ease-out;
  border-width: 0px 0px 300px 300px;
  overflow: hidden;
  border-color: transparent transparent #ffb845bb transparent;
}

.container1:hover .overlay1 {
  border-style: solid;
  overflow: visible;
}

.text1 {
  color: white;
  font-size: 30px;
  position: absolute;
  visibility: hidden;
  text-align: center;
}
.container1:hover .text1 {
  visibility: visible;
  top: 180px;
  right: -380px;
  left: 0;
}
.modal-content {
  top: 200px;
}
.sports-span {
  position: absolute;
  text-align: center;
  margin-top: -60px;
  overflow: hidden;
  margin-left: 150px;
  opacity: 1;
}

.sports-span:hover .overlay1 {
  border-style: solid;
  overflow: visible;
}
